<div data-ng-controller="HeaderController">
    <nav class="main-header clearfix" role="navigation"> <a class="navbar-brand" href="#!/"><span class="text-blue"><img src="../../../theme/images/logo.png" style="width:100%; margin-top:-12px"></span></a>

        <!--Navigation Itself-->

        <div class="navbar-content">

            <!--Sidebar Toggler-->
            <a href="#" class="btn btn-default left-toggler" left-toggler><i class="fa fa-bars"></i></a>

            <div class="btn-group pull-right" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="entypo-vcard"></i>
                    </span>
                </button>
                <div id="settings-dropdown" class="dropdown-menu orb-form">
                    <div class="dropdown-header">Profile</div>
                    <div class="dropdown-container">
                        <div class="nano">
                            <div class="nano-content">
                                <ul class="settings-dropdown">
                                    <li>
                                        <a href="javascript:" ng-click="navigate('#!/update-profile')" title="Update Profile">
                                            <i class="fa fa-edit"></i>
                                            <span> Update Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="navigate('#!/change-password')" href="javascript:" title="Change Password">
                                            <i class="fa fa-key"></i>
                                            <span> Change Password</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-footer"> <a href="javascript:" ng-click="signout()" class="btn btn-dark pull-right" title="Signout"><i class="fa fa-power-off"></i><span> Signout</span></a></div>
                </div>
            </div>



            <div class="btn-group" ng-show="agentRunning">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="entypo-cog"></i><span class="new"></span> Agent</button>
            </div>

        </div>
    </nav>
</div>
