<div class="responsive-admin-menu" main-menu ng-controller="HeaderController">
    <div class="responsive-menu">ORB
        <div class="menuicon"><i class="fa fa-angle-down"></i>
        </div>
    </div>
    <ul id="menu">
        <li><a ng-class="{active:isActive('/search')}" href="#!/search" title="Search Engine"><i class="entypo-search"></i><span> Search Engine</span></a>
        </li>

        <li><a ng-class="{active:isActive('/agent')}" href="#!/agent" title="Agent" data-id="dash-sub"><i class="entypo-cog"></i><span> Agent</span></a>
        </li>

        <!-- <li class="prof-menu"><a ng-class="{'active':( isActive('/update-profile') || isActive('/change-password'))}" href="#" class="submenu" data-id="profile-sub" title="Profile"><i class="entypo-user"></i><span> Profile</span></a>
            <ul id="profile-sub" class="accordion">
                <li>
                    <a href="#!/update-profile" title="Update Profile">
                        <i class="fa fa-edit"></i>
                        <span> Update Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#!/change-password" title="Change Password">
                        <i class="fa fa-key"></i>
                        <span> Change Password</span>
                    </a>
                </li>
            </ul>
        </li> -->

        <li><a ng-class="{active:isActive('/add-user')}" href="#!/add-user" title="Add User"><i class="entypo-user-add"></i><span> Add User</span></a>
        </li>

        <!-- <li><a href="/" title="Signout"><i class="fa fa-power-off"></i><span> Signout</span></a>
        </li> -->
    </ul>
</div>
