<aside class="user-menu" rightnav-toggle>

    <!-- Tabs -->
    <div class="tabs-offcanvas">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#userbar-one" data-toggle="tab"></a>
            </li>
        </ul>
        <div class="tab-content">

            <!--User Primary Panel-->
            <div class="tab-pane active" id="userbar-one">
                <div class="main-info">
                    <div class="user-img"><img src="http://placehold.it/150x150" alt="User Picture" />
                    </div>
                    <h1>Anton Durant</h1>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item"><i class="fa fa-user"></i>Profile</a>

                    <a href="#" class="list-group-item goaway"><i class="fa fa-power-off"></i> Sign Out</a>
                </div>
            </div>


        </div>
    </div>

    <!-- /tabs -->

</aside>
