<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yuno | Invalid Token</title>
    <link href="/theme/css/styles.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script type="text/javascript" src="/theme/js/vendors/modernizr/modernizr.custom.js"></script>
    <style type="text/css">
    .invalid-token {
        color: #fff;
        text-align: center;
    }
    </style>
</head>

<body>
    <div class="colorful-page-wrapper">
        <div class="center-block">
            <div class="login-block">
                <form id="login-form" class="orb-form" method="post">
                    <header>
                        <div class="image-block"><img src="/theme/images/logo.png" alt="User" />
                        </div>
                        Yuno</header>
                    <footer class="invalid-token">
                        <h3>Invalid Token</h3>
                    </footer>
                </form>
            </div>
            <div class="copyrights"> Yuno &copy; 2014 </div>
        </div>
    </div>

    <!--/Scripts-->

</body>

</html>
