<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yuno | Reset Password</title>
    <link href="/theme/css/styles.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script type="text/javascript" src="/theme/js/vendors/modernizr/modernizr.custom.js"></script>
</head>

<body>
    <div class="colorful-page-wrapper">
        <div class="center-block">
            <div class="login-block">
                <form id="reset-form" class="orb-form" method="post">
                    <header>
                        <div class="image-block"><img src="/theme/images/logo.png" alt="User" />
                        </div>
                        Reset Yuno Password</header>
                    <fieldset>
                        <section>
                            <div class="row">
                                <label class="label col col-4">Password</label>
                                <div class="col col-8">
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        <input type="password" id="password" name="password">
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <label class="label col col-4">Verfiy Password</label>
                                <div class="col col-8">
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="resetPassword">
                                    </label>
                                </div>
                            </div>
                            <div class="callout callout-warning" id="fogerror-2" style="min-height: 29px; display:none;">
                                <h6>Oops something went wrong!</h6>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-default">Reset</button>
                    </footer>
                </form>
            </div>
            <div class="copyrights"> Yuno &copy; 2014 </div>
        </div>
    </div>

    <!--Scripts-->
    <!--JQuery-->
    <script type="text/javascript" src="/theme/js/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/theme/js/vendors/jquery/jquery-ui.min.js"></script>

    <!--Forms-->
    <script type="text/javascript" src="/theme/js/vendors/forms/jquery.form.min.js"></script>
    <script type="text/javascript" src="/theme/js/vendors/forms/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/theme/js/vendors/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/theme/js/vendors/jquery-steps/jquery.steps.min.js"></script>

    <!--NanoScroller-->
    <script type="text/javascript" src="/theme/js/vendors/nanoscroller/jquery.nanoscroller.min.js"></script>

    <!--Sparkline-->
    <script type="text/javascript" src="/theme/js/vendors/sparkline/jquery.sparkline.min.js"></script>

    <!--Main App-->
    <script type="text/javascript" src="/theme/js/scripts.js"></script>



    <!--/Scripts-->

</body>

</html>
